.input
{
	width:70%;
	height:100%;
animation-duration: 3s;
	animation-name: input;
	animation-iteration-count: infinite;
border: 0.2em solid transparent;
    border-bottom-color: blue;}
.bu
{
	width:28%;
	height:100%;
	background:rgba(128,69 ,9,0.8);
	color:white;
	padding:3px;
	font-size:1rem;
	font-weight:bolder;
	
}
.formcontainer
{
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.formcontainer p
{
	color: white;
}

.form
{
	width:50%;
	/*height:2rem;*/
background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
    background-size: 15px 15px;padding:10px;
	box-shadow:2px 2px 3px 3px rgba(0,0,0,0.5);

}
@media only screen and (max-width: 768px) 
{
	.form
	{
		width:70%;
	}
}
*
{
	outline:none;
}
@keyframes input
{
	0%{border-bottom:0.2em solid #8383ff}
	25%{border-bottom:0.2em solid #2d2d82}
	50%{border-bottom:0.2em solid #0000ef}
	75%{border-bottom:0.2em solid #0093ff}
}