.signout
{
	font-size:1.5em;
	color: white;
	margin:1em 1em 0em 0em;
	text-decoration:underline;
	transition: all 0.3s;
	cursor: pointer;
}
.signout:hover
{
	opacity:50%;

}
.signout:active
{
	opacity:100%;
}